Repository danmx/sigil: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, ci, lint, update_deps, test

fmt:
  name: Run formatter
  entry: scripts/pre-commit.sh fmt
  language: system
  require_serial: true

ci:
  name: Run Drone.io formatter and signer
  entry: scripts/pre-commit.sh ci
  language: system
  require_serial: true

lint:
  name: Run linter
  entry: scripts/pre-commit.sh lint
  language: system
  require_serial: true
  stages:
  - push

update_deps:
  name: Update Go dependencies in Bazel
  entry: scripts/pre-commit.sh update_deps
  language: system
  require_serial: true
  stages:
  - push

test:
  name: Run tests
  entry: scripts/pre-commit.sh test
  language: system
  require_serial: true
  stages:
  - push

Adding profile to command line parser (fix?)
  cmd/root.go
Due: fmt, lint, test

docker: update session manager plugin to 1.2.245.0
  WORKSPACE
Due: none

bazel: update to version 4.2.1
  .bazelversion
Due: none

bazel: update rules_go to version 0.28.0
  WORKSPACE
Due: none

bazel: update gazelle to 0.23.0
  WORKSPACE
Due: none

bazel: updating rules_docker to 0.19.0
  WORKSPACE
Due: none

bazel: update gomock to version 1.3
  WORKSPACE
Due: none

fix(deps): update golang.org/x/crypto commit hash to 089bfa5
  go.mod
  go.sum
Due: update_deps

chore(deps): update dependency com_github_danmx_bazel_tools to v0.3.1
  WORKSPACE
Due: none

fic(ci): removing Drone integration
  .drone.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/pre-commit.sh
Due: ci

bazel: updating Go to 1.17.2
  CHANGELOG.md
  WORKSPACE
  go.mod
  go.sum
  pkg/os/ignore_signals.go
  pkg/os/ignore_signals_windows.go
  tools/repositories.bzl
Due: fmt, lint, update_deps, test

chore: adding VSCode dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CHANGELOG.md
Due: none

ci: using Github Actions
  .bazeliskrc
  .github/workflows/linters.yaml
  .github/workflows/release.yaml
  .github/workflows/test-linux.yaml
  .github/workflows/test-macos.yaml
  CHANGELOG.md
Due: none

fix(linters): addressing golangci-lint issues
  .github/workflows/linters.yaml
  .golangci.yml
  CHANGELOG.md
  cmd/root.go
  cmd/ssh.go
  pkg/aws/ssh.go
  pkg/list/list.go
  pkg/ssh/ssh.go
  scripts/pre-commit.sh
Due: fmt, lint, test

fix(ci): disable steps that use secrets on PRs
  .github/workflows/test-linux.yaml
  CHANGELOG.md
Due: none

fix(ci): disable steps that use secrets on PRs (#187)
  .github/workflows/test-linux.yaml
  CHANGELOG.md
Due: none

fix: profile to command line parser
  cmd/root.go
Due: fmt, lint, test

chore(deps): update dependency bazel_gazelle to v0.24.0
  WORKSPACE
Due: none

chore(deps): update dependency io_bazel_rules_docker to v0.20.0
  WORKSPACE
Due: none

chore(deps): update dependency io_bazel_rules_go to v0.29.0
  WORKSPACE
Due: none

fix(aws): log interface
  CHANGELOG.md
  pkg/aws/log/log.go
Due: fmt, lint, test

chore(deps): updating Bazel rules
  CHANGELOG.md
  WORKSPACE
Due: none

chore(deps): updating Go dependencies
  CHANGELOG.md
  go.mod
  go.sum
  tools/repositories.bzl
Due: update_deps

fix(aws): code style of log interface
  CHANGELOG.md
  pkg/aws/log/log.go
Due: fmt, lint, test

chore(deps): Update aws-sdk-go from v1.34.32 to v1.42.37
  go.mod
  go.sum
Due: update_deps

Brew formula update for sigil version 0.7.4
  Formula/sigil.rb
Due: none

switch to goreleaser action (#7)
  .github/workflows/golangci-lint.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  .golangci.yml
  Taskfile.yml
  go.mod
  go.sum
  pkg/os/ignore_signals.go
  pkg/ssh/ssh.go
Due: fmt, lint, update_deps, test

Brew formula update for sigil version v0.7.5
  Formula/sigil.rb
Due: none

mirror code changes from 0.8.0 (#8)
  .bazeliskrc
  .bazelversion
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .drone.yml
  .golangci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  WORKSPACE
  cmd/root.go
  cmd/ssh.go
  go.mod
  go.sum
  pkg/aws/log/log.go
  pkg/aws/ssh.go
  pkg/list/list.go
  pkg/os/ignore_signals_windows.go
  pkg/ssh/ssh.go
  scripts/pre-commit.sh
  tools/repositories.bzl
Due: fmt, ci, lint, update_deps, test

Brew formula update for sigil version v0.8.1
  Formula/sigil.rb
Due: none

self test
  .github/workflows/golangci-lint.yaml
Due: none

Path conditions:
  fmt: any of: .*\.go$
  ci: any of: .drone.yml$
  lint: any of: .*\.go$
  update_deps: any of: go\.(mod|sum)$
  test: any of: .*\.go$
